:root {

    /* Colors */

    /* Light style */
    --background-light: #ffebeb;
    --nav-text-light: #3F7029;
    --nav-hover-light: #db0b00;
    --heading-1-light: #db0b00;
    --heading-2-light: #44772c;
    --job-heading-light: #7e2c00;
    --job-dates-light: #44772c;
    --job-location-light: #6e2700;
    --job-position-light: #541d00;
    --text-1-light: #3b1d12;
    --text-2-light: #265912;
    --links-light: #db0b00;
    --hover-light: #255a00;

    /* Dark style */
    --background-dark: #010010;
    --nav-text-dark: #f2e7b9;
    --nav-hover-dark: #79b3ff;
    --heading-1-dark: #79b3ff;
    --heading-2-dark: #a6e3fd;
    --job-heading-dark: #b2a6fc;
    --job-dates-dark: #a6e3fd;
    --job-location-dark: #b9d2fe;
    --job-position-dark: #c0b7ff;
    --text-1-dark: #f2e7b9;
    --text-2-dark: #9ffef3;
    --links-dark: #79ebff;
    --hover-dark: #13ff8d;

    /* Fonts */

    --heading-font: "Bona Nova SC", serif;
    --nav-font-weight: 600;
    --nav-font-size: 22px;
    --heading-1-font-weight: 650;
    --heading-1-font-size: 40px;
    --heading-2-font-weight: 600;
    --heading-2-font-size: 26px;
    --job-font-weight: 700;
    --job-font-size: 20px;

    --text-font: "Wittgenstein", serif;
    --text-1-font-weight: 600;
    --text-1-font-size: 16px;
    --link-font-weight: 700;
    --text-2-font-weight: 700;
    --text-2-font-size: 15px;

    /* Indices */

    --z-index-nav: 1000;
    --z-index-hamburger: 1001;
    --z-index-toggle: 1002;
    --z-index-menu: 1003;
}

* {
    box-sizing: border-box;
}


/* Desktop Style */

/* Light Mode */

/* Background Color */
body {
    margin: 0;
    background-color: var(--background-light);
}

section {
    padding: 10px;
    scroll-margin-top: 80px;
}

/* These elements are not shown initially in the default desktop light mode */
.hamburger, #photo-dark, #email-icon-dark, #github-icon-dark, #message-icon-dark {
    display: none;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    z-index: var(--z-index-nav);
    background-color: var(--background-light);
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 15px;
    text-decoration: none;
    color: var(--nav-text-light);
    font-family: var(--heading-font);
    font-weight: var(--nav-font-weight);
    font-size: var(--nav-font-size);
}

@media (hover: hover) {
    nav ul li a:hover {
        background-color: var(--nav-hover-light);
        color: var(--background-light);
    }
}

@media (hover: none) {
    nav ul li a:active {
        background-color: var(--nav-hover-light);
        color: var(--background-light);
    }
}

/* Theme Toggle */

.theme-toggle {
    position: fixed;
    top: 25px;
    right: 50px;
    cursor: pointer;
    z-index: var(--z-index-toggle);
}

.theme-toggle img {
    width: 40px;
}

h1 {
    margin-left: 70px;
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--heading-1-light);
    font-family: var(--heading-font);
    font-weight: var(--heading-1-font-weight);
    font-size: var(--heading-1-font-size);
}

h2 {
    margin-left: 70px;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--heading-2-light);
    font-family: var(--heading-font);
    font-weight: var(--heading-2-font-weight);
    font-size: var(--heading-2-font-size);
}

p {
    margin-left: 70px;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-1-light);
    font-family: var(--text-font);
    font-weight: var(--text-1-font-weight);
    font-size: var(--text-1-font-size);
}

ul {
    margin-left: 70px;
    padding: 0;
    list-style-type: none;
    color: var(--text-1-light);
    font-family: var(--text-font);
    font-weight: var(--text-1-font-weight);
    font-size: var(--text-1-font-size);
}

/* Links */

a {
    color: var(--links-light);
    text-decoration: none;
    font-weight: var(--link-font-weight);
}

@media (hover: hover) {    
    a:hover {
        color: var(--hover-light);
    }
}

@media (hover: none) {
    a:active {
        color: var(--hover-light);
    }
}

/* Main Page Layout */

.wrapper {
    margin-top: 90px; 
    display: grid;
    grid-template-columns: 2.2fr 1.2fr;
    grid-template-rows: auto;
    gap: 10px;
}

#Name {
    grid-column: 1;
    grid-row: 1;
}

#About {
    grid-column: 1;
    grid-row: 2;
}

#Experience {
    grid-column: 1;
    grid-row: 3;
}

#Projects {
    grid-column: 1;
    grid-row: 4;
}

#Skills {
    grid-column: 1;
    grid-row: 5;
}

#Connect {
    grid-column: 1;
    grid-row: 6;
}

#Photo {
    grid-column: 2;
    grid-row: 1 / 5;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 360px;
    right: 7%;
    transform: translateY(-50%);
    width: calc(100% - 80%);
}

#Photo img {
    width: 320px;
    height: auto;
}

/* Experience Section Layout */

#Experience .job {
    margin-top: 20px;
    margin-left: 70px;
}

#Experience .job-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#Experience .job-details {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Experience .job-title {
    color: var(--job-heading-light);
    font-family: var(--heading-font);
    font-size: var(--job-font-size);
    font-weight: var(--job-font-weight);
}

#Experience .job-location {
    color: var(--job-location-light);
    font-family: var(--heading-font);
    font-size: var(--job-font-size);
    font-weight: var(--job-font-weight);
}

#Experience .job-dates {
    color: var(--job-dates-light);
    font-family: var(--heading-font);
    font-size: var(--job-font-size);
    font-weight: var(--job-font-weight);
    text-align: right;
}

#Experience .job-position {
    color: var(--job-position-light);
    font-family: var(--heading-font);
    font-size: var(--job-font-size);
    font-weight: var(--job-font-weight);
}

#Experience .job-description {
    margin-left: 0px;
}

#Skills ul {
    list-style-type: square;
    margin-left: 85px;
}

/* Connect Section Layout */

#Connect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Connect ul {
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 0;
    margin-top: 10px;
    list-style-type: none;
}

#Connect ul li {
    list-style: none;
}

#Connect img {
    height: 28px;
    width: auto;
}

/* Footer */

footer {
    text-align: center;
    padding: 10px;
}

footer p {
    color: var(--text-2-light);
    font-family: var(--text-font);
    font-size: var(--text-2-font-size);
    font-weight: var(--text-2-font-weight);
}

/* Dark Mode */

body.dark-mode {
    background-color: var(--background-dark);
}

body.dark-mode nav {
    background-color: var(--background-dark);
}

body.dark-mode nav ul li a {
    color: var(--nav-text-dark);    
}

@media (hover: hover) {
    body.dark-mode nav ul li a:hover {
        background-color: var(--nav-hover-dark);
        color: var(--background-dark);
    }
}

@media (hover: none) {
    body.dark-mode nav ul li a:active {
        background-color: var(--nav-hover-dark);
        color: var(--background-dark);
    }
}

body.dark-mode h1 {
    color: var(--heading-1-dark);
}

body.dark-mode h2 {
    color: var(--heading-2-dark);
}

body.dark-mode p,
body.dark-mode ul {
    color: var(--text-1-dark);
}

body.dark-mode a {
    color: var(--links-dark);
}

@media (hover: hover) {    
    body.dark-mode a:hover {
        color: var(--hover-dark);
    }
}

@media (hover: none) {
    body.dark-mode a:active {
        color: var(--hover-dark);
    }
}

body.dark-mode #Experience .job-title {
    color: var(--job-heading-dark);
}

body.dark-mode #Experience .job-location {
    color: var(--job-location-dark);
}

body.dark-mode #Experience .job-dates {
    color: var(--job-dates-dark);
}

body.dark-mode #Experience .job-position {
    color: var(--job-position-dark);
}

body.dark-mode footer p {
    color: var(--text-2-dark);
}

body, nav {
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Navigation for smaller screens */

@media (max-width: 900px) {
    
    nav {
        position: fixed;
        height: 80px;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 20px;
        width: 145px;
        background-color: var(--background-light);
        z-index: var(--z-index-menu);
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: left;
        box-sizing: border-box;
    }

    .hamburger {
        display: flex;
        font-size: 48px;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0px;
        left: 40px;
        color: var(--text-1-light);
        background-color: none;
        padding: 0;
        width: auto;
        height: 50px;
        text-align: center;
        z-index: var(--z-index-hamburger);
    }

    .theme-toggle img {
        width: 30px;
    }

    .theme-toggle {
        position: fixed;
        height: 30px;
        top: 25px;
        right: 50px;
        z-index: var(--z-index-toggle);
    }

    nav ul.show li a.active {
        background-color: var(--hover-light);
        color: var(--background-light);
    }   

    body.dark-mode nav ul.show {
        background-color: var(--background-dark);
    }

    body.dark-mode nav ul.show li a.active {
        background-color: var(--hover-dark);
        color: var(--background-dark);
    }

    body.dark-mode .hamburger {
        color: var(--text-1-dark);
    }

}

/* Tablet Style */

@media (min-width: 500px) and (max-width: 900px) {

    .wrapper {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }

    #Name, #About {
        grid-column: 1 / 2;
        grid-row: auto;
    }

    #Photo {
        grid-column: 2;
        grid-row: 1 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 45%;
        right: -35%;
        transform: translateY(-50%);
        width: calc(100% - 80%);
    }

    #Photo img {
        width: 240px;
    }

    #Experience, #Projects, #Skills, #Connect {
        grid-column: 1 / 3;
        grid-row: auto;
    }

    h1, h2, p, ul {
        margin-left: 40px;
    }

    #Skills ul {
        margin-left: 55px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p, ul {
        font-size: 14px;
    }

    a, nav ul li a {
        transition: background-color 0.6s ease, color 0.6s ease;
    }

    #Experience .job {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #Connect ul {
        margin-top: 15px;
        justify-content: center;
    }

    #Connect img {
        height: 25px;
    }

}

/* Mobile Style */

@media (max-width: 500px) {

    html, body {
        overflow: auto;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    #Name {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    #Photo {
        grid-column: 1 / 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 48%;
        right: 0;
        transform: translateY(-50%);
        width: 100%;
    }

    #Photo img {
        width: 240px;
    }

    #About {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    #Experience {
        grid-column: 1 / 2;
        grid-row: 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin-left: 0px;
    }

    #Experience .job {
        margin-left: 20px;
        margin-right: 20px;
    }

    #Projects {
        grid-column: 1 / 2;
        grid-row: 5;
    }

    #Skills {
        grid-column: 1 / 2;
        grid-row: 6;
    }

    #Connect {
        grid-column: 1 / 2;
        grid-row: 7;
    }

    h1, h2, p, ul {
        margin-left: 20px;
    }

    #Skills ul {
        margin-left: 35px;
    }

    h1 {
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h2 {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p, ul {
        font-size: 14px;
    }

    #Connect ul {
        margin-top: 15px;
        justify-content: center;
    }

    #Connect img {
        height: 25px;
    }

    #Experience {
        grid-column: 1 / 2;
        grid-row: 4;
        display: grid;
        grid-gap: 0px;
        margin-left: 0;
    }

    #Experience .job {
        display: grid;
        grid-template-areas:
            "job-title"
            "job-location"
            "job-dates"
            "job-position"
            "job-description";
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    #Experience .job-header,
    #Experience .job-details {
        display: contents;
    }

    #Experience .job-title {
        grid-area: job-title;
    }

    #Experience .job-location {
        grid-area: job-location;
    }

    #Experience .job-dates {
        grid-area: job-dates;
        text-align: left;
    }

    #Experience .job-position {
        grid-area: job-position;
    }

    #Experience .job-description {
        grid-area: job-description;
        margin-left: 0;
        margin-right: 20px;
    }
    
}
